<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
</div>

<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
</div>

    <div>
      <mat-form-field floatLabel="always" *ngFor="let filter of filterSelectObj" >
        <mat-label> {{ filter.name }}</mat-label>
        <select matNativeControl name="{{ filter.columnProp }}" [(ngModel)]="filter.modelValue" 
        (change)="filterChange(filter, $event)">
          <option value="">-- Select {{ filter.name }} --</option>
          <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
        </select>
      </mat-form-field>
      &nbsp;
      <button mat-flat-button color="primary" (click)="resetFilters()">
        Reset
      </button>
    </div>
<div>
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="CategoryDisplayName">
        <mat-header-cell *matHeaderCellDef>Category Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productCategoryDisplayName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="CategoryType">
        <mat-header-cell *matHeaderCellDef>Category Type</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productCategoryType
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ProductDisplayName">
        <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productDisplayName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productUserFirstName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productUserLastName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="UserEmail">
        <mat-header-cell *matHeaderCellDef>User Email</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productUserEmailId
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SubscribtionMonth">
        <mat-header-cell *matHeaderCellDef>Subscribtion Month</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productSubscribtionMonth
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SubscribtionPrice">
        <mat-header-cell *matHeaderCellDef>Subscribtion Price</mat-header-cell>
        <mat-cell *matCellDef="let dataSource">{{
          dataSource.productSubscribtionPrice
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>
  </div>



